- namespace = locals.fetch(:namespace)
- projects_usage = locals.fetch(:projects_usage)
- minutes_usage = namespace.ci_minutes_usage
- minutes_usage_presenter = Ci::Minutes::UsagePresenter.new(minutes_usage)
- last_reset = minutes_usage.reset_date

= render Pajamas::AlertComponent.new(variant: :info, dismissible: false,
  alert_class: 'gl-mt-6 gl-mb-3',
  alert_data: { testid: 'project-usage-info-alert' }) do |c|
  = c.body do
    - if last_reset
      = sprintf(s_('UsageQuota|The table below shows usage since %{timeElapsed}'), { timeElapsed: last_reset.strftime('%b %d, %Y') })
    - else
      = s_('UsageQuota|The table below shows current period usage')

%table.table.pipeline-project-metrics
  %thead
    %tr
      %th
        = _('Project')
      %th
        = s_('UsageQuota|Shared runner duration')
      %th
        = s_('UsageQuota|CI/CD minutes usage')

  %tbody
    - if !minutes_usage_presenter.any_project_enabled?
      %tr
        %td{ colspan: 3 }
          .nothing-here-block
            - runners_doc_path = help_page_path('ci/runners/index.md')
            - help_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: runners_doc_path }
            = s_('UsageQuota|%{help_link_start}Shared runners%{help_link_end} are disabled, so there are no limits set on pipeline usage').html_safe % { help_link_start: help_link_start, help_link_end: '</a>'.html_safe }
    - else
      - projects_usage.each do |project_usage|
        %tr
          %td
            .avatar-container.s20.d-none.d-sm-block
              = project_icon(project_usage.project, alt: '', class: 'avatar project-avatar s20')
            %strong{ data: {testid: "pipelines-quota-tab-project-name" } }
              = link_to project_usage.project.full_name, project_usage.project
          %td{ 'data-testid': 'project_shared_runner_duration' }
            = project_usage.shared_runners_duration.seconds.in_minutes.round
          %td{ 'data-testid': 'project_amount_used' }
            = project_usage.amount_used.to_i
      - if projects_usage.blank?
        %tr
          %td{ colspan: 3 }
            .nothing-here-block
              = s_('UsageQuota|This namespace has no projects which used shared runners in the current period')
      %tr
        %td{ colspan: 3 }
          .col-sm-12.center
            = s_('UsageQuota|This table omits projects that used 0 CI/CD minutes or 0 shared runners duration')

= paginate projects_usage, theme: "gitlab"
